@if (searchCoinStore.symbol()) {
    <nz-table
        nzShowSizeChanger
        nzBordered
        [nzData]="searchCoinStore.list()"
        [nzFrontPagination]="false"
        [nzLoading]="searchCoinStore.loading()"
    >
        <thead>
            <tr>
                <th nzColumnKey="name">{{ coinLabels.name }}</th>
                <th nzColumnKey="symbol">{{ coinLabels.symbol }}</th>
                <th nzColumnKey="price">{{ coinLabels.price }}</th>
                <th nzColumnKey="circulatingSupply">{{ coinLabels.circulatingSupply }}</th>
                <th nzColumnKey="marketCap">{{ coinLabels.marketCap }}</th>
            </tr>
        </thead>
        <tbody>
            @for (coin of searchCoinStore.list(); track coin.id) {
                <tr>
                    <td>{{ coin.name }}</td>
                    <td>{{ coin.symbol }}</td>
                    <td>{{ coin.price }}</td>
                    <td>{{ coin.circulatingSupply }}</td>
                    <td>{{ coin.marketCap }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
} @else {
    <nz-table
        nzShowSizeChanger
        nzBordered
        [nzData]="coinListStore.list()"
        [nzFrontPagination]="false"
        [nzLoading]="coinListStore.loading()"
        [nzTotal]="coinListStore.total()"
        [nzPageSize]="coinListStore.pageSize()"
        [nzPageIndex]="coinListStore.pageIndex()"
        [nzScroll]="{ x: '100%', y: 'calc(100vh - 290px)' }"
        (nzQueryParams)="onChangeQueryParams($event)"
    >
        <thead>
            <tr>
                <th nzColumnKey="name" [nzSortFn]="true" [nzSortOrder]="nameSortOrder">{{ coinLabels.name }}</th>
                <th nzColumnKey="symbol" [nzSortFn]="true" [nzSortOrder]="symbolSortOrder">
                    {{ coinLabels.symbol }}
                </th>
                <th nzColumnKey="price" [nzSortFn]="true" [nzSortFn]="true" [nzSortOrder]="priceSortOrder">
                    {{ coinLabels.price }}
                </th>
                <th nzColumnKey="circulatingSupply" [nzSortFn]="true" [nzSortOrder]="circulatingSupplySortOrder">
                    {{ coinLabels.circulatingSupply }}
                </th>
                <th nzColumnKey="marketCap" [nzSortFn]="true" [nzSortOrder]="marketCapSortOrder">
                    {{ coinLabels.marketCap }}
                </th>
            </tr>
        </thead>
        <tbody>
            @for (coin of coinListStore.list(); track coin.id) {
                <tr>
                    <td>{{ coin.name }}</td>
                    <td>{{ coin.symbol }}</td>
                    <td>{{ coin.price }}</td>
                    <td>{{ coin.circulatingSupply }}</td>
                    <td>{{ coin.marketCap }}</td>
                </tr>
            }
        </tbody>
    </nz-table>
}
