version: '3.8'

services:
  frontend:
    container_name: 'angular'
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - api
    restart: unless-stopped

  api:
    container_name: 'json-server'
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
