<nz-table
    #table
    nzShowSizeChanger
    nzBordered
    [nzData]="allCoins()"
    [nzFrontPagination]="true"
    [nzLoading]="searchCoinStore.loading() || favouritesStore.loading()"
    [nzTotal]="totalItems()"
    [nzPageIndex]="pageIndex()"
    [nzPageSize]="pageSize()"
    [nzShowTotal]="totalTemplate"
    (nzPageIndexChange)="onPageIndexChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
>
    <thead>
        <tr>
            <th nzColumnKey="name">{{ coinLabels.name }}</th>
            <th nzColumnKey="symbol">{{ coinLabels.symbol }}</th>
            <th nzColumnKey="price">{{ getTitleWithCurrency(coinLabels.price) }}</th>
            <th nzColumnKey="circulatingSupply">{{ coinLabels.circulatingSupply }}</th>
            <th nzColumnKey="marketCap">{{ getTitleWithCurrency(coinLabels.marketCap) }}</th>
            <th nzColumnKey="favourite">{{ coinLabels.favourite }}</th>
        </tr>
    </thead>
    <tbody>
        @for (coin of table.data; track coin.id) {
            <tr>
                <td>{{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>{{ numberFormatter.formatPrice(coin.price || 0) }}</td>
                <td>{{ numberFormatter.formatLargeNumber(coin.circulatingSupply || 0) }}</td>
                <td>{{ numberFormatter.formatLargeNumber(coin.marketCap || 0) }}</td>
                <td>
                    <label
                        nz-checkbox
                        [ngModel]="coin.isFavourite"
                        (ngModelChange)="onChangeFavourite({ coin, checked: $event })"
                    ></label>
                </td>
            </tr>
        }
    </tbody>
</nz-table>

<ng-template #totalTemplate let-total> {{ tableLabels.total }}: {{ total }} </ng-template>
