.sidebar-logo {
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    height: 64px;
    padding-left: 12px;
    overflow: hidden;
    line-height: 64px;
    transition: all 0.3s;
}

.sidebar-logo h1 {
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    font-family:
        Avenir,
        Helvetica Neue,
        Arial,
        Helvetica,
        sans-serif;
    transition: all 0.3s;
}
