.wallet {
    height: 100%;

    &__header {
        display: flex;
        border-top: 1px solid #f0f2f5;
        border-bottom: 1px solid #f0f2f5;
        padding: 18px 0;

        &-title {
            margin: 0;
            line-height: 30px;
        }

        &-subtitle {
            margin: 0;
            font-size: 30px;
            line-height: 30px;
            font-weight: 500;
            text-align: end;
        }

        &-left {
            display: flex;
            flex-direction: column;
            align-items: start;
            flex: 1;
        }

        &-right {
            display: flex;
            flex-direction: column;
            align-items: end;
            flex: 1;
        }

        &-currency {
            font-weight: 500;
        }
    }
}
