<nz-table
    nzShowSizeChanger
    nzBordered
    [nzData]="coinListStore.list()"
    [nzFrontPagination]="false"
    [nzLoading]="coinListStore.loading()"
    [nzTotal]="coinListStore.total()"
    [nzPageSize]="coinListStore.pageSize()"
    [nzPageIndex]="coinListStore.pageIndex()"
    [nzScroll]="{ x: '100%', y: 'calc(100vh - 290px)' }"
    [nzShowTotal]="totalTemplate"
    (nzQueryParams)="onChangeQueryParams($event)"
>
    <thead>
        <tr>
            <th nzColumnKey="name" [nzSortFn]="true" [nzSortOrder]="nameSortOrder()">{{ coinLabels.name }}</th>
            <th nzColumnKey="symbol" [nzSortFn]="true" [nzSortOrder]="symbolSortOrder()">
                {{ coinLabels.symbol }}
            </th>
            <th nzColumnKey="price" [nzSortFn]="true" [nzSortFn]="true" [nzSortOrder]="priceSortOrder()">
                {{ getTitleWithCurrency(coinLabels.price) }}
            </th>
            <th nzColumnKey="circulatingSupply" [nzSortFn]="true" [nzSortOrder]="circulatingSupplySortOrder()">
                {{ coinLabels.circulatingSupply }}
            </th>
            <th nzColumnKey="marketCap" [nzSortFn]="true" [nzSortOrder]="marketCapSortOrder()">
                {{ getTitleWithCurrency(coinLabels.marketCap) }}
            </th>
            <th nzColumnKey="favourite">{{ coinLabels.favourite }}</th>
        </tr>
    </thead>
    <tbody>
        @for (coin of coinListStore.list(); track coin.id) {
            <tr>
                <td>{{ coin.name }}</td>
                <td>{{ coin.symbol }}</td>
                <td>{{ numberFormatter.formatPrice(coin.price || 0) }}</td>
                <td>{{ numberFormatter.formatLargeNumber(coin.circulatingSupply || 0) }}</td>
                <td>{{ numberFormatter.formatLargeNumber(coin.marketCap || 0) }}</td>
                <td>
                    <label
                        nz-checkbox
                        [ngModel]="coin.isFavourite"
                        (ngModelChange)="onChangeFavourite({ coin, checked: $event })"
                    ></label>
                </td>
            </tr>
        }
    </tbody>
</nz-table>

<ng-template #totalTemplate let-total> {{ tableLabels.total }}: {{ total }} </ng-template>
