html {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        transition: background 0.2s ease; /* Плавный переход */
    }

    &.default {
        ::-webkit-scrollbar-track {
            background: #f0f0f0;
        }

        ::-webkit-scrollbar-thumb {
            background: #b8b8b8;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #9e9e9e;
        }

        scrollbar-color: #b8b8b8 #f0f0f0;
    }

    &.dark {
        ::-webkit-scrollbar-track {
            background: #1a1a1a;
        }

        ::-webkit-scrollbar-thumb {
            background: #4a4a4a;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #5e5e5e;
        }

        scrollbar-color: #4a4a4a #1a1a1a;
    }
}
